@media screen and (min-width: 601px) {
.marker_yellow_futo {
  background: linear-gradient(transparent 0%, #FFFF99 0%);
}
#ct_header {
  height: 60px;
  background: rgb(0, 175, 58);
}
#ct_header, h1 {
  color: #fff;
  padding-left: 125px;
  padding-top: 7px;
  font-size: 26px;
}
.midasi {
  font-size: 26px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.midasi1-2 {
  font-size: 26px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.midasi2 {
  font-size: 26px;
  padding-bottom: 10px;
  padding-top: 50px;
}
#imgset {
  margin: 40px auto;
  text-align: center;
  margin-bottom: 10px;
}
#content {
  width: 850px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 50px;
  clear: both;
}
.sonota_text{
  margin-bottom: 50px;
  margin-top: 5px;
}
#shoukai_midasi {
  width: 850px;
  height: 50px;
  background: rgb(0, 175, 58);
}
#shoukai_midasi, h3 {
  color: #fff;
  padding-left: 10px;
  padding-top: 8px;
}
.shokushoukai {
  float: left;
  margin-right: 20px;
  margin-bottom: 50px;
  clear: both;
}
#shoukai {
  padding-top: 70px;
  padding-bottom: 100px;
}
#btn, a:link {
  color: #fff;
}
#btn, a:visited {
  color: #333;
}
#btngroup {
  text-align: center;
  margin-bottom: 50px;
}
#btn {
  width: 250px;
  height: 50px;
  background: rgb(0, 175, 58);
  border: 1px solid rgb(0, 175, 58);
}
}