@media screen and (min-width: 601px) {
#textset {
  margin-bottom: 70px;
}
button {
  width: 290px;
  height: 50px;
  background-color: rgb(0, 175, 58);
  border: 0;
}
#btn {
  text-align: center;
}
}