@media screen and (min-width: 601px) {
#quiz {
  margin: 0 auto;
  padding-top: 30px;
  font-size: 35px;
  width: 850px;
}
#select {
  width: 850px;
  margin: 30px auto;
}
#answer {
  text-align: center;
  padding-top: 30px;
}
#answer, a {
  display: block;
  margin-bottom: 25px;
  font-size: 25px;
}
#roll {
  font-size: 20px;
  width: 850px;
  margin: 0 auto;
}
#btn {
  text-align: center;
}
#btna {
  padding: 7px;
  color: #fff;
}
button {
  width: 250px;
  height: 50px;
  background: rgb(0, 175, 58);
  border: 1px solid rgb(0, 175, 58);
}
table {
  border: 5px solid rgb(0, 175, 58);
  border-collapse: collapse;
  width: 100%;
}
td {
  text-align: center;
}
}