a {
  text-decoration: none;
  font-size: 18px;
}
#midasi {
  font-size: 30px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(255, 252, 236);
}
@media screen and (min-width: 601px) {/*ウィンドウの幅が601px以上の時に適応*/
body {
  font-size: 20px;
}
#boxA {
  width: 100%;
  background: #fff;
  height: 70px;
  position: fixed;
  margin: 0 auto;
  text-align: center;
}
#boxA img {
  padding-top: 10px;
}
#boxA img:hover {
  opacity: 0.7;
}
#quiz {
  width: 800px;
  margin: 20px auto;
}
#boxB {
  width: 100%;
}
#boxC {
  width: 100%;
}
}