@media screen and (min-width: 601px) {/*ウィンドウの幅が600px以上の時に適応*/
body{
  font-size: 20px;
}
rt {
  font-size: 3px;
}
#top_midasi {
  background: rgb(0, 175, 58);
  width: 700px;
  height: 60px;
  margin: 80px auto;
  margin-bottom: 0;
}
#top_midasi, h2 {
  color: #fff;
  font-size: 22px;
  padding-top: 6px;
  padding-left: 10px;
}
#top_text {
  width: 700px;
  margin: 8px auto;
}
#top_text, h3 {
  color: #666666;
  padding-bottom: 5px;
}
#top_text, p {
  color: #333;
  padding-top: 5px;
}
#boxB, p {
  font-size: 17px;
  padding-top: 3px;
  text-align: justify;
}
.pc {
  width: 100%;
}
.btn1 {
  float: left;
  background: rgb(0, 175, 58);
  width: 250px;
  height: 50px;
  border: 1px solid rgb(0, 175, 58);
  margin-left: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn, a:link {
  color: #fff;
}
.btn, a:visited {
  color: #333;
}
.btn2 {
  float: right;
  background: rgb(0, 175, 58);
  width: 250px;
  height: 50px;
  border: 1px solid rgb(0, 175, 58);
  margin-right: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#boxC {
  width: 100%;
}
}