@media screen and (max-width: 600px) {
#quiz {
  width: 90%;
  margin-top: 120px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
#select {
  width: 90%;
  margin-left: 50px;
}
#answer {
  width: 90%;
}
#answer, a {
  display: block;
  width: 90%;
}
#roll {
  width: 90%;
}
}