@media screen and (max-width: 600px) {
#quiz {
  width: 90%;
  margin-top: 120px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: justify;
}
#select {
  width: 90%;
  margin-left: 50px;
}
#answer {
  width: 90%;
  text-align: center;
}
#answer, a {
  display: block;
  width: 90%;
  margin-bottom: 25px;
}
#roll {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
#btn {
  text-align: center;
  margin-top: 50px;
}
#btna {
  padding: 7px;
  color: #fff;
}
button {
  width: 150px;
  height: 40px;
  background: rgb(0, 175, 58);
  border: 1px solid rgb(0, 175, 58);
}
table {
  border: 5px solid rgb(0, 175, 58);
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
}