@media screen and (max-width: 600px) { /*ウィンドウの幅が600px以下の時に適当*/
a {
  text-decoration: none;
  font-size: 15px;
}
rt {
  font-size: 3px;
}
body {
  float: none;
  margin: 0;
  font-family: "fantasy", sans-serif;
}
#boxA a {
  margin-left: 5px;
}
#boxA, img {
  margin-top: 5px;
}
#quiz {
  width: 90%;
  margin: 5px auto;
}
/*パンくずリスト*/
.breadcrumb {
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 14px;
}
.breadcrumb li{
  display:inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}
.breadcrumb li:after{/* >を表示*/
  content: '>';
  padding: 0 3px;
  color: #555;
}
.breadcrumb li:last-child:after{
  content: '';
}
.breadcrumb li a {
  text-decoration: none;
  color: gray;
}
.breadcrumb li:first-child a:before{/*家アイコン*/
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 1.1em;
}
}