@media screen and (max-width: 480px) { /*ウィンドウの幅が479px以下の時に適当*/
.pc {
  display: none;
}
#btngroup {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
button {
  width: 290px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
}