@media screen and (max-width: 600px) { /*ウィンドウの幅が600px以下の時に適当*/
#top_midasi {
  background: rgb(0, 175, 58);
  width: 90%;
  height: 55px;
  margin: 30px auto;
  margin-bottom: 10px;
}
#top_midasi, h2 {
  color: #fff;
  font-size: 21px;
  text-align: center;
  padding-top: 8px;
}
rt {
  font-size: 8px;
}
#top_text {
  width: 90%;
  margin: 0 auto;
}
#top_text, h3 {
  color: #666666;
}
#top_text, p {
  color: #333
}
#boxB, p {
  font-size: 15px;
  text-align: justify;
}
.pc {
  width: 100%;
}
.btn1 {
  background: rgb(0, 175, 58);
  width: 200px;
  height: 50px;
  border: 1px solid rgb(0, 175, 58);
  display: block;
  margin: 20px auto;
}
.btn, a:link {
  color: #fff;
}
.btn, a:visited {
  color: #333;
}
.btn2 {
  background: rgb(0, 175, 58);
  width: 200px;
  height: 50px;
  border: 1px solid rgb(0, 175, 58);
  display: block;
  margin: 20px auto;
}
#boxC {
  width: 100%;
}
}