header {
  background-color: rgba(54, 109, 0, 0.575)
}

header #himg img{
  width: 1333px
}

#menu {
  text-align: right;
}

td img {
  width: 420px;
  height: 270px;
  padding: 10px 10px 0 10px;
}

footer {
  text-align: center;
  height: 100px;
}